@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
:root{
    --cor-principal: #BEA905;
    --fonte-nome: "Sevillana", cursive;
    --fonte-principal: "Playwrite DK Uloopet", cursive;
    --fonte-data: "Merriweather", serif;
}

body{
    height: 100%;
    justify-content: center;
    align-items: center; 
    text-align: center;
    color: var(--cor-principal);
    margin: 0;
    border: 4px solid var(--cor-principal); 
    padding: 20px;           
    margin: 8em;               
    box-sizing: border-box;
    font-family: var(--fonte-principal);
    position: relative;
}

.brasao{
    margin-top: -7em;
}

.descricao{
    font-size: 1em;
}

.pais{
    font-size: 1.2em;
}

.nome{
    padding-left: 0.2em;
    font-family: var(--fonte-nome);
    font-weight: 400;
    font-size: 5em;
}

.dia_da_festa{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: -6em;
    font-family: var(--fonte-data);
}
.dia{
     padding-top: 0.2em;
     padding-right: 0.2em;
     font-size: 2.8em;
     font-weight: bold;
}
.dia-semana_mes{
    height: 3.2em;
    margin-top: -1em;
    padding-right: 0.8em;
    margin-right: -1em;
    
}
.mes{
    padding-top: -2em;
    padding-right: 0.5em;
}

.dia-semana{
    margin-top: -1em;
}

.ano{
    border-right: 3px solid var(--cor-principal);
    border-left: 3px solid var(--cor-principal);
    height: 1.1em;
    padding-top: 2em;
    padding: 0 0.2em;
    font-size: 2.8em;
    font-weight: bold;
}

.horario{
    padding-left: 0.5em;
}

.horas-texto{
    margin-top: -1em;
}

.icones{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 14vh;
}

.confirmacao{
    padding-right: 1em;
}

.confirmacao_presenca{
    border: 1px solid transparent;
    height: 3em;
    width: 5.3em;
    margin-right: 1.5em;
}

.localizador{
    padding-left: 2.5em;
}

.localizacao_mapa{
    border: 1px solid transparent;
    height: 3em;
    width: 5.3em;
    margin-left: 1em;
}

.traje{
    padding-left: 2em;
}

.imagem{
    margin-bottom: -0.5em;
}

.vestido{
    width: 3em;
    height: 3em;
}

.camisa{
    width: 3em;
    height: 3em;
}

.traje_texto{
    border: 1px solid transparent;
    height: 3em;
    width: 4em;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

